<p>hola</p>
<p><%= current_user.email %></p>

<div class="acciones">
  <ul class="nav nav-list">
    <li class="nav-header">
      links
    </li>
    <li>
      <button class="btn btn-primary ">amigos</button>
      <button class="btn btn-primary">noticias</button>
    </li>
    <li>
      <button class="btn btn-primary">eventos</button>
      <button class="btn btn-primary">recursos</button>
    </li>
    <li>
      <button class="btn btn-primary">empleos</button>
      <button class="btn btn-primary">estudios</button>
    </li>
    <li>
      <button class="btn btn-primary">foros</button>
      <button class="btn btn-primary">ofertas</button>
    </li>
    <li class="nav-header">
      mis amigos
    </li>
  </ul>

</div>